This folder contains a git repo that generates a github pages site.
The site contains the primary website for SALife (gta rp server on fivem).
The color palette as follows:
- Primary: #6741d9
- Secondary: #ffffff80
- Accent: #00ff99
